{% extends 'dashboard/base.html' %} {% block content %} {% load custom_filters%}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header row wrap">
      <div class="row title-head-td ">
        <i
          class="fa-solid fa-user"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Pelanggan</span>
      </div>
      <a href="{% url 'client' %}" class="main-button">Kembali</a>
      {% if not client.isApproved %}
      <button  class="info-button" id="data-baru-btn" onclick="cekModifyClientData('{{ client.id }}','{{client.temp_name}}','{{client.temp_address}}','{{client.temp_phone}}', '{{client.temp_paket.id_ip_pool.id_server.name}}', '{{ client.temp_paket.name }} - {{ client.temp_paket.price|rupiah }} - {{ client.temp_paket.limit }}', '{{client.temp_pppoe}}')">Pembaruan</button>
      {% endif %}
    </div>
    <div class="info-client relative row">
      <div class="wrapper column">
        <h2>Informasi Pelanggan</h2>
        <div class="column">
          <div class="title strong">Nama</div>
          <div class="text">{{ client.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Alamat</div>
          <div class="text">{{ client.address }}</div>
        </div>
        <div class="column">
          <div class="title strong">No HP</div>
          <div class="text">{{ client.phone }}</div>
        </div>
        <div class="column">
          <div class="title strong">Status</div>
          <div
              class=" {% if client.isActive %}enable-t{% else %}disable-t{% endif %}"
            >
              {% if client.isActive %}Online{% else %}Offline{% endif %}
            </div>
        </div>
      </div>
      <div class="wrapper column">
        <h2>Informasi Server</h2>
        <div class="column">
          <div class="title strong">Server</div>
          <div class="text">{{ client.id_paket.id_ip_pool.id_server.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Paket</div>
          <div class="text">{{ client.id_paket.name }} - {{ client.id_paket.price|rupiah }} - {{ client.id_paket.limit }}</div>
        </div>
        <div class="column">
          <div class="title strong">Id PPPoE</div>
          <div class="text">{{ client.pppoe }}</div>
        </div>
        <div class="column">
          <div class="title strong">Password PPPoE</div>
          <div class="text">{{ client.password }}</div>
        </div>
        <div class="column">
          <div class="title strong">IP addres</div>
          <div class="text row">
            192.168.3.12
            <a href="http://192.168.3.12"
              ><i class="fa-solid fa-up-right-from-square"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="container-map relative" style="width: 600px; height: 300px;" >
        <div id="map-client" style="height: 100%; width: 100%;"></div>
      </div>
    </div>
    <div class="row button-wrapper no-loader wrap">
      <form id="delete-form" method="POST" style="display: none;">
        {% csrf_token %}
      </form>

       <button onclick="toggleActivasiClient('{{ client.id }}', '{{ client.name }}',`{{ client.isActive|yesno:'true,false' }}`, 'detail-client')" class="{% if user.is_authenticated %}main-button{% else %}disbale-button{% endif %}" {% if not user.is_authenticated %}disabled{% endif %} >{% if client.isActive %}Nonaktifkan{% else %}Activasi{% endif %}</button>
       <button  onclick="deleteData('{{ client.id }}', 'client', 'client')" class="danger-button">Delete</button>
      <button  class="info-button">Reboot Perangkat</button>
       <a href="{% url 'edit-client' client.id %}" class="warning-button">Edit</a>
    </div>



<div id="deleteModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" onclick="closeModalDelete()">&times;</span>
    <div class="modal-header">
      <h3>Konfirmasi Hapus</h3>
    </div>
    <div class="modal-text column">
      <i style="--clr-icon-modal:var(--clr-r1)" class="fa-solid fa-triangle-exclamation"></i>
      <p>Apakah Anda yakin ingin menghapus server ini?</p>
    </div>
    <form id="deleteForm" method="POST">
      {% csrf_token %}
      <button type="submit" class="danger-button">Ya, Hapus</button>
      <button type="button" onclick="closeModalDelete()" class="grey-button">
        Batal
      </button>
    </form>
  </div>
</div>

<div id="activasiModal" class="modal" style="display: none">
  <div class="modal-content">
    <div class="modal-header" style="background-color: var(--clr-y1)!important;">
      <h3>Konfirmasi {% if client.isActive %}Nonaktifkan{% else %}Aktivasi{% endif %}</h3>
    </div>
    <span class="close" onclick="closeModal()">&times;</span>
   <div class="modal-text column">
      <i style="--clr-icon-modal:var(--clr-y1)" class="fa-solid fa-circle-exclamation"></i>
       <p>Apakah anda yakin ingin {% if client.isActive %}Nonaktifkan{% else %}Aktivasi{% endif %} <b>{{ client.name }}</b>?</p>
    </div>
   
    <form id="activasiForm" method="POST">
      {% csrf_token %}
      <button type="submit" class="success-button">Ya</button>
      <button type="button" onclick="closeModal()" class="grey-button">
        Batal
      </button>
    </form>
  </div>
</div>

<div id="verifModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" onclick="closeVerifModal()">&times;</span>
    <div
      class="modal-header"
      style="background-color: var(--clr-y1) !important"
    >
      <h3>Verification</h3>
    </div>
    <div class="modal-text column">
      <i
        style="--clr-icon-modal: var(--clr-y1)"
        class="fa-solid fa-circle-exclamation"
      ></i>
      <p>
        Apakah anda yakin ingin verifikasi perubahan data <b>{{ client.name }}</b>?
      </p>
    </div>

    <form id="verifForm" method="POST">
      {% csrf_token %}
      <button type="submit" class="success-button">Ya</button>
      <button type="button" onclick="closeVerifModal()" class="grey-button">
        Batal
      </button>
    </form>
  </div>
</div>

<script>
  function openVerifModal(clientId, clientName) {
    const modal = document.getElementById("verifModal");
    const form = document.getElementById("verifForm");
    form.action = `/client/${clientId}/verification/`;
    modal.style.display = "block";
  }

  function closeVerifModal() {
    document.getElementById("verifModal").style.display = "none";
  }

  // Menutup modal jika diklik di luar area modal
  window.onclick = function (event) {
    const modal = document.getElementById("verifModal");
    if (event.target === modal) {
      closeVerifModal();
    }
  };
</script>



<script>
  function openActivasiModal(clientId) {
    const modal = document.getElementById("activasiModal");
    const form = document.getElementById("activasiForm");
    form.action = `/client-detail/${clientId}/toggle/`;
    modal.style.display = "block";
  }

  function closeModal() {
    document.getElementById("activasiModal").style.display = "none";
  }

  // Menutup modal jika diklik di luar area modal
  window.onclick = function (event) {
    const modal = document.getElementById("activasiModal");
    if (event.target === modal) {
      closeModal();
    }
  };
</script>

<script>
  const deleteForm = document.getElementById("delete-form");
</script>


<script>
  var latitude = -8.118556
  var longitude = 115.103444

   var map = L.map('map-client').setView(
            [latitude, longitude],
            15
        );

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([latitude, longitude])
            .addTo(map)
            .bindPopup("Sumedang")
            .openPopup();
</script>








{% endblock %}
