{% extends 'dashboard/base.html' %} {% block content %} {% load custom_filters%}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header row">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Pelanggan</span>
      </div>
      <button
        class="main-button no-loader"
        type="button"
        onclick="window.history.back();"
      >
        Kembali
      </button>
    </div>
    <div class="info-client row">
      <div class="wrapper column">
        <h2>Informasi Pelanggan</h2>
        <div class="column">
          <div class="title strong">Nama</div>
          <div class="text">{{ client.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Alamat</div>
          <div class="text">{{ client.address }}</div>
        </div>
        <div class="column">
          <div class="title strong">No HP</div>
          <div class="text">{{ client.phone }}</div>
        </div>
        <div class="column">
          <div class="title strong">Status</div>
          <div
              class=" {% if client.isActive %}enable-t{% else %}disable-t{% endif %}"
            >
              {% if client.isActive %}Aktif{% else %}Nonaktif{% endif %}
            </div>
        </div>
      </div>
      <div class="wrapper column">
        <h2>Informasi Server</h2>
        <div class="column">
          <div class="title strong">Server</div>
          <div class="text">{{ client.id_server.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Paket</div>
          <div class="text">{{ client.id_paket.name }} - {{ client.id_paket.price|rupiah }} - {{ client.id_paket.limit }}</div>
        </div>
        <div class="column">
          <div class="title strong">Id PPPoE</div>
          <div class="text">{{ client.pppoe }}</div>
        </div>
        <div class="column">
          <div class="title strong">IP addres</div>
          <div class="text row">
            192.168.3.12
            <a href="http://192.168.3.12"
              ><i class="fa-solid fa-up-right-from-square"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row button-wrapper no-loader">
      <button
        class="main-button"
        type="button"
        onclick="window.history.back();"
      >
        Nonaktifkan
      </button>

       <a href="{% url 'edit-client' client.id %}" class="warning-button">Edit</a>
      <button  onclick="openDeleteModal('{{ client.id }}')" class="danger-button">Delete</button>
    </div>
  </div>
</div>


<div id="deleteModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h3>Konfirmasi Hapus</h3>
    <p>Apakah Anda yakin ingin menghapus Pelanggan ini?</p>
    <form id="deleteForm" method="POST">
      {% csrf_token %}
      <button type="submit" class="danger-button">Ya, Hapus</button>
      <button type="button" onclick="closeModalDelete()" class="warning-button">
        Batal
      </button>
    </form>
  </div>
</div>

<script>
  function openDeleteModal(clientId) {
    const modal = document.getElementById("deleteModal");
    const form = document.getElementById("deleteForm");
    form.action = `/client/${clientId}/delete/`; // sesuaikan dengan URL kamu
    modal.style.display = "block";
  }

  function closeModalDelete() {
    document.getElementById("deleteModal").style.display = "none";
  }

  // Menutup modal jika diklik di luar area modal
  window.onclick = function (event) {
    const modal = document.getElementById("deleteModal");
    if (event.target === modal) {
      closeModalDelete();
    }
  };
</script>

{% endblock %}
