{% extends 'index.html' %} {% block content %} {% load custom_filters%} {% load static %}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header row wrap">
      <div class="row title-head-td ">
        <i class="fa-solid fa-user" style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"></i>
        <span class="title">Pelanggan</span>
        
      </div>
      <a href="{% url 'client' %}" class="main-button">Kembali</a>
      {% if not client.isApproved %}
      <button  class="info-button" id="data-baru-btn" onclick="cekModifyClientData('{{ client.id }}','{{client.temp_name}}','{{client.temp_address}}','{{client.temp_phone}}', '{{client.temp_paket.id_ip_pool.id_server.name}}', '{{ client.temp_paket.name }} - {{ client.temp_paket.price|rupiah }} - {{ client.temp_paket.limit }}', '{{client.temp_pppoe}}', '{{client.temp_lat}}', '{{client.temp_long}}', '{{client.temp_local_ip}}', '{{client.temp_email}}')">Pembaruan</button>
      {% endif %}
    </div>
    <div class="info-client relative row">
      <div class="wrapper column">
        <h2>Client</h2>
        <div class="column">
          <div class="title strong">Nama</div>
          <div class="text">{{ client.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Alamat</div>
          <div class="text">{{ client.address }}</div>
        </div>
        <div class="column">
          <div class="title strong">Email</div>
          <div class="text">{{ client.email }}</div>
        </div>
        <div class="column">
          <div class="title strong">No HP</div>
          <div class="text">{{ client.phone }}</div>
        </div>
        <div class="column">
          <div class="title strong">Paket</div>
          <div class="text">{{ client.id_paket.name }} </div>
          <div class="text">{{ client.id_paket.limit }}</div>
          <div class="text">{{ client.id_paket.price|rupiah }} </div>
        </div>
        <div class="row wrap gap-10">
             <a href="{% url 'edit-client' client.id %}" class="warning-button">Edit</a>
            <button  onclick="deleteData('{{ client.id }}', 'client', 'client')" class="danger-button">Delete</button>
        </div>
      </div>
      <div class="wrapper column">
        <h2>Server</h2>
        <div class="column">
          <div class="title strong">Server</div>
          <div class="text">{{ client.id_paket.id_ip_pool.id_server.name }}</div>
        </div>
        
        <div class="column">
          <div class="title strong">Id PPPoE</div>
          <div class="text">{{ client.pppoe }}</div>
        </div>
        <div class="column">
          <div class="title strong">Password PPPoE</div>
          <div class="text">{{ client.password }}</div>
        </div>
        <div class="column">
          <div class="title strong">Status</div>
          <div class=" {% if client.isActive %}enable-t{% else %}disable-t{% endif %}"> {% if client.isActive %}Online{% else %}Offline{% endif %} </div>
        </div>
        <button onclick="toggleActivasiClient('{{ client.id }}', '{{ client.name }}',`{{ client.isActive|yesno:'true,false' }}`, 'detail-client')" class="{% if user.is_authenticated %}main-button{% else %}disbale-button{% endif %}" {% if not user.is_authenticated %}disabled{% endif %} >{% if client.isActive %}Nonaktifkan{% else %}Activasi{% endif %}</button>
      </div>
      <div class="wrapper column">
        <h2>Device</h2>
        <div class="column">
          <div class="title strong">Redaman</div>
          <div class="text">{{client.redaman}} dBm</div>
        </div>
        <div class="column">
          <div class="title strong">Temperature</div>
          <div class="text">{{client.temperature}} C</div>
        </div>
        <div class="column">
          <div class="title strong">Device Active</div>
          <div class="text">{{client.active}}</div>
        </div>
        <div class="column">
          <div class="title strong">IP Remote</div>
          <div class="text row">
            <a href="http://{{client.remote}}" target="_blank" class="no-loader">{{client.remote}}</a>
          </div>
        </div>
        <button class="info-button" onclick="rebootDevice('{{ client.name }}', '{{client.device}}', '{{genieacs}}')">Reboot Perangkat</button>
      </div>
      <div class="wrapper column">
        <h2>Status Pembayaran</h2>
        <div class="column">
          <div class="title strong">Status</div>
          <div class=" {% if client.isPayed %}enable-t{% else %}waiting-t{% endif %}">
              {% if client.isPayed %}Done{% else %}Waiting{% endif %}
          </div>
        </div>
        <div class="row wrap gap-20">
          <div class="column">
          <div class="title strong">Pembayaran Terakhir</div>
          <div class="text">{{ client.lastPayment }}</div>
        </div>
        <div class="column">
          <div class="title strong">Tagihan Berikutnya</div>
          <div class="text">Sept. 20, 2025</div>
        </div>
        </div>
        
        <div class="column button-wrapper no-loader wrap">
          <form id="delete-form" method="POST" style="display: none;">
          {% csrf_token %}
          </form>
            <div class="row wrap gap-10">
              <button onclick="togglePembayaran('{{ client.id }}', '{{ client.name }}',`{{ client.isPayed|yesno:'true,false' }}`, 'detail-client')" class="{% if user.is_authenticated %}main-button{% else %}disbale-button{% endif %}" {% if not user.is_authenticated %}disabled{% endif %} >{% if client.isPayed %}Buat Tagihan{% else %}Konfirmasi Pembayaran{% endif %}</button>
            </div>
        </div>
      </div>
      
      <div class="container-map relative" style="width: 100%; height: 300px;" >
        <div id="map-client" style="height: 100%; width: 100%;"></div>
      </div>
    </div>
    

     <canvas id="redamanChart"></canvas>
 </div>

 <script src="{% static 'js/library/chart.umd.js' %}"></script>



<script>
  const deleteForm = document.getElementById("delete-form");
</script>




<script>
  var latitude = '{{ client.lat|default:"0" }}';
  var longitude = '{{ client.long|default:"0" }}';

   var map = L.map('map-client').setView(
            [latitude, longitude],
            35
        );

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([latitude, longitude])
            .addTo(map)
            .bindPopup("{{client.name}}")
            .openPopup();
</script>


<script>
  const labels = {{ labels|safe }};
  const data = {{ redaman_data|safe }};

  const chartData = {
    labels: labels,
    datasets: [
      {
        label: 'Redaman',
        data: data,
        borderColor: 'blue',
        backgroundColor: 'rgba(0, 0, 255, 0.3)',
      }
    ]
  };

  const config = {
    type: 'line',
    data: chartData,
    options: {
      responsive: true,
      plugins: {
        legend: { position: 'top' },
        title: { display: true, text: 'Redaman 7 Hari Terakhir' }
      },
      scales: {
        y: {
          min: -100,
          max: 100,
          ticks: {
                    stepSize: 5  
                }
        }
      }
    }
  };

  new Chart(document.getElementById('redamanChart'), config);
</script>






{% endblock %}
