{% extends 'index.html' %} {% block content %}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header row">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-server"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Server</span>
      </div>
      <button
        class="main-button no-loader"
        type="button"
        onclick="window.history.back();"
      >
        Kembali
      </button>
    </div>
    <div class="info-server">
      <h2>{{ server.name }}</h2>
      <br />
      <div class="wrapper column">
        <div class="column">
          <div class="strong">Host IP</div>
          <div class="text">{{ server.host }}</div>
        </div>
        <div class="column">
          <div class="strong">Username</div>
          <div class="text">{{ server.username }}</div>
        </div>
        <div class="column">
          <div class="strong">Password</div>
          <div class="text">{{ server.password }}</div>
        </div>
        <div class="column">
          <div class="strong">GeniACS</div>
          <div class="text">{{ server.genieacs|default:"-" }}</div>
        </div>
        <div class="row button-wrapper">
          <button
            onclick="test_connection('{{ server.host }}', '{{ server.username }}', '{{ server.password }}')"
            class="main-button"
          >
            Test Connection
          </button>
          <a href="{% url 'edit-server' server.id %}" class="warning-button"
            >Edit</a
          >
          <button
            onclick="deleteData('{{ server.id }}', 'server', 'server-list')"
            class="danger-button"
          >
            Delete
          </button>
        </div>
        <br />
        <!-- <form id="terminalForm" class="column">
          <div class="column">
            <label for="command">Terminal</label>
            <textarea
              name="command"
              id="command"
              placeholder="masukan perintah"
            ></textarea>
          </div>
          <button class="main-button" type="submit">Kirim</button>
        </form>
        <div class="text-grey">Output Here</div>

        <div class="output-command" id="commandOutput">
          <span class="loader-form"></span>
        </div> -->
      </div>
    </div>
  </div>
</div>

<script>
  function showLoaderForm() {
    document.querySelector(".loader-form").style.display = "block";
  }

  function hideLoaderForm() {
    document.querySelector(".loader-form").style.display = "none";
  }

</script>

{% endblock %}
