{% extends 'index.html' %} {% block content %} {% load static %}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header row">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-server"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Server</span>
      </div>
      <button
        class="main-button no-loader"
        type="button"
        onclick="window.history.back();"
      >
        Kembali
      </button>
    </div>
    <div class="info-server">
      <div class="wrapper column">
        <div class="row relative responsive-wrap gap-10">
          <div style="width: 100%" class="column gap-10">
            <div class="column">
              <div class="strong">Server Name</div>
              <div class="text">{{ server.name }}</div>
            </div>
            <div class="column">
              <div class="strong">Host IP</div>
              <div class="text">{{ server.host }}</div>
            </div>
            <div class="column">
              <div class="strong">Username</div>
              <div class="text">{{ server.username }}</div>
            </div>
            <div class="column">
              <div class="strong">Password</div>
              <div class="text">{{ server.password }}</div>
            </div>
            <div class="column">
              <div class="strong">GeniACS</div>
              <div class="text">{{ server.genieacs|default:"-" }}</div>
            </div>
            <div class="row button-wrapper">
              <button
                onclick="test_connection('{{ server.host }}', '{{ server.username }}', '{{ server.password }}')"
                class="main-button"
              >
                Test Connection
              </button>
              <a href="{% url 'add-gateway' server.id %}" class="success-button"
                >Add Gateway</a
              >
              <a href="{% url 'edit-server' server.id %}" class="warning-button"
                >Edit</a
              >
              <button
                onclick="deleteData('{{ server.id }}', 'server', 'server-list')"
                class="danger-button"
              >
                Delete
              </button>
            </div>
          </div>
          <div
            class="container-map relative"
            style="width: 100%; height: 300px"
          >
            <div id="map-client" style="height: 100%; width: 100%"></div>
          </div>
        </div>


        <div class="row gap-10 align-center">
          <p>Action:</p>
          <select name="" id="action-dropdown" class="action-dropdown">
            <option value="" selected>Select Action</option>
            <option value="delete-gw">Delete Selected Data</option>
          </select>
          <button class="button success-button" id="go-action">Go</button>
        </div>  

       
        <div class="table-container">
          <table class="table" id="table">
            <thead>
              <tr class="t-head">
              <th><input type="checkbox" id="select-all-checkbox"></th>
              <th>#</th>
              <th>Gateway Name</th>
              <th>lat</th>
              <th>long</th>
              <th class="center-th"></th>
            </tr>
            </thead>
            <tbody>
              {% for gateway in gateway_list %}
            <tr class="t-d">
              <td>
                 <input type="checkbox" class="client-checkbox" 
                  data-id="{{ gateway.id }}"
                  data-name="{{ gateway.name }}" > 
                
              </td>
              <td>{{ gateway.id }}</td>
              <td>{{ gateway.name }}</td>
              <td>{{ gateway.lat }}</td>
              <td>{{ gateway.long }}</td>
              <td>
                <div class="row button-wrapper">
                  <a
                    href="{% url 'edit-gateway' server.id gateway.id %}"
                    class="warning-button"
                  >
                    Edit
                  </a>
                  <button
                    onclick="deleteData('{{ gateway.id }}', 'gateway', 'server/id={{server.id}}')"
                    class="danger-button"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/scripts/checkbox.js' %}"></script>


<script>
  $(document).ready(function () {
    $("#table").DataTable({
      pageLength: 10,
      searching: true,
      // stateSave: true,
      columnDefs: [
      { targets: [0,5], orderable: false, searchable: false }
        ]
    });
  });
</script>

<script>
  function showLoaderForm() {
    document.querySelector(".loader-form").style.display = "block";
  }

  function hideLoaderForm() {
    document.querySelector(".loader-form").style.display = "none";
  }
</script>

<script>
  const latitude = '{{ server.lat|default:"0" }}';
  const longitude = '{{ server.long|default:"0" }}';
  const gatewayList = {{ data | safe }}


  const map = L.map("map-client").setView([latitude, longitude], 15);

  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "&copy; OpenStreetMap contributors",
  }).addTo(map);

  L.marker([latitude, longitude], { icon: serverIcon })
    .addTo(map)
    .bindTooltip("{{server.name}}")

    gatewayList.forEach((item)=>{
      const itemMarker = L.marker([item.lat, item.long], { icon: odpIcon }, 
      {title: item.name})
      .bindTooltip(`<b>${item.name}</b>`).addTo(map)

      L.polyline([
        [item.parent_lat, item.parent_long],
        [item.lat, item.long]
      ],{ color: "blue" }).addTo(map)
    })

  
</script>

{% endblock %}
