{% extends 'index.html' %} {% block content %} {% load custom_filters%} {% load static %}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header row wrap">
      <div class="row title-head-td ">
        <i class="fa-solid fa-user" style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"></i>
        <span class="title">Pelanggan</span>
      </div>
      <a href="{% url 'client' %}" class="main-button">Kembali</a>
      {% if not client.isApproved %}
      <button  class="info-button" id="data-baru-btn" onclick="cekModifyClientData('{{ client.id }}','{{client.temp_name}}','{{client.temp_address}}','{{client.temp_phone}}', '{{client.temp_paket.id_ip_pool.id_server.name}}', '{{ client.temp_paket.name }} - {{ client.temp_paket.price|rupiah }} - {{ client.temp_paket.limit }}', '{{client.temp_pppoe}}', '{{client.temp_lat}}', '{{client.temp_long}}', '{{client.temp_local_ip}}', '{{client.temp_email}}')">Pembaruan</button>
      {% endif %}
    </div>
    <div class="info-client relative row">
      <div class="wrapper column">
        <h2>Client</h2>
        <div class="column">
          <div class="title strong">Nama</div>
          <div class="text">{{ client.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Alamat</div>
          <div class="text">{{ client.address }}</div>
        </div>
        <div class="column">
          <div class="title strong">Email</div>
          <div class="text">{{ client.email }}</div>
        </div>
        <div class="column">
          <div class="title strong">No HP</div>
          <div class="text">{{ client.phone }}</div>
        </div>
        <div class="column">
          <div class="title strong">Paket</div>
          <div class="text">{{ client.id_paket.name }} </div>
          <div class="text">{{ client.id_paket.limit }}</div>
          <div class="text">{{ client.id_paket.price|rupiah }} </div>
        </div>
        <div class="row wrap gap-10">
          {% if perms.app.change_client %}
          <a href="{% url 'edit-client' client.id %}" class="warning-button">Edit</a>
          {% endif %}
          {% if perms.app.delete_client %}
          <button  onclick="deleteData('{{ client.id }}', 'client', 'client')" class="danger-button">Delete</button>
          {% endif %}
        </div>
      </div>
      <div class="wrapper column">
        <h2>Server</h2>
        <div class="column">
          <div class="title strong">Server</div>
          <div class="text">{{ client.id_paket.id_ip_pool.id_server.name }}</div>
        </div>
        <div class="column">
          <div class="title strong">Id PPPoE</div>
          <div class="text">{{ client.pppoe }}</div>
        </div>
        <div class="column">
          <div class="title strong">Password PPPoE</div>
          <div class="text">{{ client.password }}</div>
        </div>
        <div class="column">
          <div class="title strong">Status</div>
          <div class=" {% if client.isActive %}enable-t{% else %}disable-t{% endif %}"> {% if client.isActive %}Online{% else %}Offline{% endif %} </div>
        </div>
        {% if perms.app.can_change_is_active %}
        <button onclick="toggleActivasiClient('{{ client.id }}', '{{ client.name }}',`{{ client.isActive|yesno:'true,false' }}`, 'detail-client')" class="main-button">{% if client.isActive %}Nonaktifkan{% else %}Activasi{% endif %}</button>
        {% endif %}
      </div>
      <div class="wrapper column">
        <h2>Device</h2>
        <div class="column">
          <div class="title strong">Uptime</div>
          <div class="text" id="uptime">-</div>
        </div>
        <div class="column">
          <div class="title strong">Redaman</div>
          <div class="text" id="redaman">- dBm</div>
        </div>
        <div class="column">
          <div class="title strong">Temperature</div>
          <div class="text" id="temperature">- C</div>
        </div>
        <div class="column">
          <div class="title strong">Device Active</div>
          <div class="text" id="active"></div>
        </div>
        <div class="column">
          <div class="title strong">IP Remote</div>
          <div class="text row"><a href="#" target="_blank" class="no-loader" id="remote">-</a></div>
        </div>
        {% if acs_ip %}
        <button id="rebootBtn" class="info-button" style="display:none;"> Reboot Perangkat </button>
        {% endif %}
      </div>
      <div class="wrapper column">
        <h2>Status Langganan</h2>
        <div class="column">
          <div class="title strong">Tanggal Mulai Langganan</div>
          <div class="text">{{client.activated_at}}</div>
        </div>
        <div class="column">
          <div class="title strong">Status Pembayaran</div>
          <div class="{% if client.isPayed %}enable-t{% else %}waiting-t{% endif %}">{% if client.isPayed %}Done{% else %}Waiting{% endif %}</div>
        </div>
        <div class="row wrap gap-20">
          <div class="column">
            <div class="title strong">Pembayaran Terakhir</div>
            <div class="text">{% if last_payment %}{{ last_payment }}{% else %}Belum Ada{% endif %}</div>
          </div>
          <div class="column">
            <div class="title strong">Tagihan Berikutnya</div>
            <div class="text"> {{ next_bill }}</div>
          </div>
        </div>
        <div class="column button-wrapper no-loader wrap">
          <form id="delete-form" method="POST" style="display: none;">
          {% csrf_token %}
          </form>
            <div class="row wrap gap-10">
              {% if perms.app.can_change_is_payed %}
              <button onclick="togglePembayaran('{{ client.id }}', '{{ client.name }}',`{{ client.isPayed|yesno:'true,false' }}`, 'detail-client')" class="main-button">{% if client.isPayed %}Buat Tagihan{% else %}Konfirmasi Pembayaran{% endif %}</button>
              {% endif %}
            </div>
        </div>
      </div>
    </div>

    <br>
    {% if perms.app.delete_transaction %}
    <div class="row gap-10 align-center">
      <p>Action:</p>
      <select name="" id="action-dropdown" class="action-dropdown">
        <option value="" selected>Select Action</option>
        <option value="delete-ts">Delete Selected Data</option>
      </select>
      <button class="button success-button" id="go-action">Go</button>
    </div>  
    {% endif %}

    {% if perms.app.view_transaction %}
    <div class="table-container">
      <p class="text-center strong">History Transaction</p>
      <table class="table" id="table">
        <thead>
          <tr class="t-head">
            <th>
              {% if perms.app.delete_transaction %}
              <input type="checkbox" id="select-all-checkbox">
              {% endif %}
            </th>
            <th>#</th>
            <th>Value</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ts in transaction %}
          <tr class="t-d">
            <td>
              {% if perms.app.delete_transaction %}
              <input type="checkbox" class="client-checkbox" data-id="{{ ts.id }}" data-name="{{ ts.create_at }}"> 
              {% endif %}
            </td>
            <td>{{ ts.id }}</td>
            <td>{{ ts.value|rupiah }}</td>
            <td>{{ ts.create_at }}</td>
            <td>
              {% if perms.app.delete_transaction %}
              <button onclick="deleteData('{{ ts.id }}', 'transaction', 'client/id={{client.id}}')" class="danger-button">Delete</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <details>
      <summary>Map</summary>
      <div class="container-map relative" style="width: 100%; height: 300px;" >
        <div id="map-client" style="height: 100%; width: 100%;"></div>
      </div>
    </details>

    <details>
      <summary>Chart</summary>
      <canvas id="redamanChart"></canvas>
    </details>

  </div>
</div>

<script src="{% static 'js/library/chart.umd.js' %}"></script>

<script src="{% static 'js/scripts/checkbox.js' %}"></script>

<script>
  const deleteForm = document.getElementById("delete-form");
</script>



<script>
  $(document).ready(function () {
    $("#table").DataTable({
      pageLength: 10,
      searching: true,
      // stateSave: true,
      columnDefs: [
      { targets: [0,4], orderable: false, searchable: false }
        ]
    });
  });
</script>



<script>
document.addEventListener("DOMContentLoaded", function () {
  fetch("/api/genieacs/{{ client.id }}/")
    .then(res => res.json())
    .then(data => {
      const rebootBtn = document.getElementById("rebootBtn");
      document.getElementById("redaman").textContent = data.redaman + " dBm";
      document.getElementById("temperature").textContent = data.temperature + " °C";
      document.getElementById("active").textContent = data.active;
      document.getElementById("uptime").textContent = data.uptime;

      // console.log(data)

      const remoteLink = document.getElementById("remote");
      if (rebootBtn) {
        if (data.redaman && data.redaman !== "-") {
            rebootBtn.onclick = function () {
            rebootDevice("{{ client.name }}", data.device, "{{ acs_ip }}");
            };
            rebootBtn.style.display = "inline-block";
        } else {
          rebootBtn.style.display = "none";
          }
        }
      })
    .catch(err => {
      console.error("GenieACS error:", err);
    });
});
</script>


<script>
document.addEventListener("DOMContentLoaded", function () {
  fetch("/api/client-remote/{{ client.id }}/")
    .then(res => res.json())
    .then(data => {
      console.log("GenieACS data:", data);
      const remoteLink = document.getElementById("remote");
      if (data.remote && data.remote !== "-") {
        remoteLink.href = "http://" + data.remote;
        remoteLink.textContent = data.remote;
      } else {
        remoteLink.href = "#";
        remoteLink.textContent = "-";
      }
    })
    .catch(err => console.error("MikroTik API error:", err));
});
</script>


<script>
  var latitude = '{{ client.lat|default:"0" }}';
  var longitude = '{{ client.long|default:"0" }}';

  var map = L.map('map-client').setView([latitude, longitude], 35);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
  
  L.marker([latitude, longitude], { icon: clientIcon }).addTo(map).bindPopup("{{client.name}}").openPopup();

</script>


<script>
  const labels = {{ labels|safe }};
  const data = {{ redaman_data|safe }};

  const chartData = {
    labels: labels,
    datasets: [
      {
        label: 'Redaman',
        data: data,
        borderColor: 'blue',
        backgroundColor: 'rgba(0, 0, 255, 0.3)',
      }
    ]
  };

  const config = {
    type: 'line',
    data: chartData,
    options: {
      responsive: true,
      plugins: {
        legend: { position: 'top' },
        title: { display: true, text: 'Redaman 7 Hari Terakhir' }
      },
      scales: {
        y: {
          min: -100,
          max: 100,
          ticks: {
                    stepSize: 5  
                }
        }
      }
    }
  };

  new Chart(document.getElementById('redamanChart'), config);
</script>






{% endblock %}
