:root {
  --clr-main: #211c84;
  --clr-second: #4d55cc;
  --clr-third: #7a73d1;
  --clr-fourth: #e8e2f5;
  --clr-g1: #1d7c43;
  --clr-g2: #e9ffe2;
  --clr-r1: #fb2222;
  --clr-r2: #ffe2e2;
  --clr-y1: #ffbc22;
  --clr-y2: #fff0ce;
  --clr-grey: #797979;
  --clr-bg: #f8f8fb;
}

@font-face {
  font-family: "poppin";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppin";
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

i {
  color: var(--clr-second);
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.text-main {
  color: var(--clr-main);
}

.text-grey {
  color: var(--clr-grey);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  position: relative;
  height: 50px;
  width: auto;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  width: 100%;
  background-color: white;
  justify-content: end;
  text-align: end;
  box-shadow: 1px 0 5px rgba(128, 128, 128, 0.26);
}

.header .text-wrapper {
  padding: 10px;
}

.header .text-grey {
  font-size: 0.7em;
}

.content-page {
  padding: 5px;
}

.base-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.content {
  background-color: var(--clr-bg);
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.form-search {
  gap: 10px;
  flex-wrap: wrap;
}

.form-search .search-box {
  border: 1px solid var(--clr-third);
  outline: none;
  background-color: none;
  padding: 7px;
  border-radius: 10px;
}
.form-search .search-button:hover {
  cursor: pointer;
  background-color: var(--clr-third);
  color: white;
}
.form-search .search-button {
  background-color: none;
  border: none;
  background-color: var(--clr-fourth);
  outline: none;
  color: var(--clr-second);
  padding: 8px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  font-weight: bold;
}

.table-wrapper i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.table-wrapper .title-head-td {
  font-size: 0.8em;
  align-items: center;
  gap: 10px;
}

.form-wrapper .title {
  font-size: 1.5em;
}

.title-head-td .title {
  font-weight: bold;
  color: var(--clr-main);
}

.table-wrapper {
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.header-table {
  gap: 20px;
}

.table .t-head {
  background-color: var(--clr-fourth);
  color: var(--clr-second);
  font-size: 0.9em;
  text-decoration: none;
  outline: var(--clr-fourth);
}

.table-container {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table,
.table th,
.table td {
  border: 0; /* Menghilangkan border */
}
.table th {
  white-space: nowrap;
  width: 150px;
  padding: 8px;
  text-align: left;
}

.table th:nth-child(1) {
  max-width: 15px;
}
.table td {
  padding: 8px;
  text-align: left;
}

.table .t-d td {
  white-space: nowrap;
  font-size: 0.8em;
  border-bottom: 1px solid var(--clr-fourth);
}

/* ================================================== */

.enable-t,
.disable-t {
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0;
  width: fit-content;
  white-space: nowrap;
  font-size: 1em;
}

.enable-t {
  color: var(--clr-g1);
  background-color: var(--clr-g2);
}

.disable-t {
  color: var(--clr-r1);
  background-color: var(--clr-r2);
}

.button-wrapper {
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main-button,
.success-button,
.warning-button,
.danger-button {
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  text-align: center;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
  font-size: 1em;
}

.main-button {
  background-color: var(--clr-fourth);
  color: var(--clr-second);
}

.main-button:hover {
  background-color: var(--clr-second);
  color: white;
}

.success-button {
  background-color: var(--clr-g2);
  color: var(--clr-g1);
}

.success-button:hover {
  background-color: var(--clr-g1);
  color: white;
}

.warning-button {
  background-color: var(--clr-y2);
  color: var(--clr-y1);
}

.warning-button:hover {
  background-color: var(--clr-y1);
  color: white;
}

.danger-button {
  background-color: var(--clr-r2);
  color: var(--clr-r1);
}

.danger-button:hover {
  background-color: var(--clr-r1);
  color: white;
}

/* ======================================================= */
.sidebar {
  padding: 20px;
  height: 100%; /* Tinggi sidebar 100% dari wrapper */
  position: fixed; /* Memperbaiki sidebar di tempat */
  top: 0;
  left: 0;
}
.sidebar-box {
  width: 205px;
  position: relative;
}

.sidebar-box.collapse {
  width: 96px;
}

.menu {
  gap: 10px;
  padding-top: 20px;
}

.logo {
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--clr-second);
}

.menu .row {
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.menu .row {
  color: black;
  padding: 10px 12px;
}

.sidebar .logo.collapse {
  justify-content: center;
  align-items: center;
}

.sidebar .logo .fa-angle-left.collapse {
  rotate: -180deg;
}

.menu-collapse.collapse {
  justify-content: center;
  align-items: center;
}

/* .menu-collapse.collapse i:hover{
  rotate: -360deg;
} */

.menu-link {
  border-radius: 20px;
}

.menu-link:hover {
  background-color: #e8e2f544;
}

.menu-link.active .row {
  color: var(--clr-second);
}

.menu-link.active {
  background-color: var(--clr-fourth);
}

.menu-text.hidden {
  display: none;
}

/* ============dashboard================= */
.dashboard .number {
  color: var(--clr-main);
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
}

.dashboard {
  position: relative;
  gap: 5px;
}
.dashboard .main-container,
.dashboard .container1 {
  position: relative;
  gap: 5px;
  width: 100%;
}

.dashboard select {
  outline: none;
  border: none;
}

.dashboard option {
  outline: none;
  border: none;
}

.dashboard .item1 {
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.dashboard .item1 .item.card-client {
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.dashboard .item {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.096);
  padding: 15px;
}

.dashboard .item .main-text {
  color: var(--clr);
  white-space: nowrap;
}

.dashboard .card-client .number {
  color: var(--clr);
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
}

.dashboard .card-client .title {
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
}

.dashboard .card-client .text-grey {
  font-size: 0.6em;
}

.dashboard .item i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.dashboard .card-monitoring {
  gap: 20px;
  height: 100%;
}

.dashboard .card-monitoring .title {
  font-weight: bold;
  font-size: 1em;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
}

.dashboard .card-monitoring .donut-name i {
  color: var(--clr-second);
}

.dashboard .card-monitoring .donut-name {
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.dashboard .card-monitoring .card-donut {
  justify-content: start;
  align-items: center;
}


.dashboard .card-monitoring .card-donut.device .device-text {
  align-self: start;
  font-size: 0.8em;
  letter-spacing: 1;
}

.dashboard .card-device-wrapper-main{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dashboard .card-monitoring .donut-content {
  /* background-color: red; */
  position: relative;
  width: 150px;
  height: 150px;
}

.dashboard .card-monitoring .donut-desc {
  padding-top: 20px;
  font-size: 0.8em;
  text-align: center;
 
}
.dashboard .card-monitoring .donut-content .number {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}

.dashboard .card-monitoring .donut-content canvas {
  width: 100%;
  height: 100%;
}


.dashboard .card-monitoring .device-content {
  
  position: relative;
}

.dashboard .card-monitoring .device-content .number{
  background-color: white;
  position: relative;
  z-index: 2;
}
.dashboard .card-monitoring .device-content .circle{
  width: 70px;
  height: 70px;
  position: absolute;
  right: -20px;
  top: -50%;
  transform: translateY(-13%);
  border: 5px solid var(--clr-main);
  border-radius: 100px;
  z-index: 1;
  
}

.dashboard .card-monitoring .monitor-wrapper{
  justify-content: space-evenly;
  width: 100%;
}

.dashboard .card-monitoring {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.096);
  padding: 15px;
  min-width: 800px;
}

.dashboard .card-monitoring .device-text-wrapper {
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.dashboard .card-config {
  max-width: 350px;
  gap: 20px;
}

.dashboard .card-config .title i {
  font-size: 1.1em;
}

.dashboard .card-config .title {
  font-weight: bold;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.dashboard .card-config .config-wrapper {
  justify-content: space-evenly;
  align-items: center;
}

.dashboard .card-config .config-item {
  justify-content: center;
  align-items: center;
}

.dashboard .card-config .config-item i {
  font-size: 2em;
  color: var(--clr-second);
  padding-bottom: 20px;
}

.dashboard .quick-link {
  gap: 20px;
}
.dashboard .quick-link i {
  border-radius: 10px !important;
}

.dashboard .quick-link a {
  margin: 0;
  font-size: 0.7em;
  justify-content: start;
  align-items: center;
  color: var(--clr-second);
  transition: all ease-in-out 0.2s;
  gap: 10px;
}

.dashboard .quick-link a:hover i {
  rotate: 90deg;
}

.dashboard .dashboard-table {
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.dashboard .header-dashboard-table {
  gap: 20px;
}

/* r here the template */

.dashboard .dashboard-table i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.dashboard .dashboard-table .title-head-td {
  font-size: 0.8em;
  align-items: center;
  gap: 10px;
}

.dashboard .title-head-td .title {
  font-weight: bold;
  color: var(--clr-main);
}
/* r here the template */

.center-th {
  text-align: center !important;
}

.form-wrapper .title-head-td {
  font-size: 0.8em;
  align-items: center;
  gap: 10px;
}

.form-wrapper .button-wrapper {
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}

.form-wrapper i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.form-wrapper {
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.form-header {
  gap: 20px;
}

.form-wrapper form {
  gap: 20px;
}

.form-wrapper form .column {
  gap: 5px;
}

.form-wrapper input {
  padding: 10px 10px 5px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-second);
}

.form-wrapper select {
  border: 1px solid var(--clr-second);
  outline: none;
  padding: 10px 10px 10px 2px;
}

.form-wrapper .info-server h2 {
  color: var(--clr-second);
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.form-wrapper .wrapper {
  gap: 10px;
}

.form-wrapper .info-server .text {
  font-size: 0.9em;
  color: var(--clr-grey);
}

.form-wrapper .info-server .button-wrapper {
  flex-wrap: wrap;
}

.form-wrapper .info-server textarea {
  border: 1px solid var(--clr-second);
  padding: 5px;
  font-size: 1.2em;
  min-width: 50vw;
}

.form-wrapper .info-server .output-command {
  min-height: 100px;
  border: 1px solid var(--clr-second);
  padding: 10px 20px;
  font-size: 0.8em;
  /* background-color: var(--clr-second); */
}

.form-wrapper .info-client {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: start;
}

.form-wrapper .info-client h2 {
  color: var(--clr-second);
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.form-wrapper .wrapper .column {
  max-width: 200px;
}

.form-wrapper .info-client .title {
  font-size: 0.9em;
  /* color: var(--clr-grey); */
}

.form-wrapper .info-client .text {
  font-size: 1em;
  color: var(--clr-grey);
}

.form-wrapper .info-client .text.row {
  justify-content: start;
  align-items: center;
}

.form-wrapper .info-client .text.row i {
  font-size: 1em;
  color: var(--clr-second);
}

.form-wrapper .info-client .button-wrapper {
  flex-wrap: wrap;
}

* {
  /* border: 1px solid rgba(255, 0, 0, 0.178); */
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 30%;
  border-radius: 8px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Modal Container */
.custom-modal {
  display: none; /* Default hidden */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(2px);
}

/* Modal Box */
.custom-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

/* Close Button */
.custom-modal-close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.custom-modal-close:hover {
  color: #000;
}

#connectionStatus h2,
#connectionStatus p {
  margin: 0;
  padding: 0;
}

#connectionStatus h2 {
  padding-top: 20px;
}

.connectionStatus .column {
  justify-content: center;
  align-items: center;
}

.modal-icon i {
  font-size: 5em;
  color: var(--clr);
  animation: hu__hu__ 0.5s ease-in-out;
}

@keyframes hu__hu__ {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}

/* Animasi muncul */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* #loader */

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  color: white;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--clr-third);
  box-shadow: 30px 0 0 var(--clr-main);
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--clr-main);
  box-shadow: 30px 0 0 var(--clr-third);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--clr-main);
  }
  50% {
    box-shadow: 0 0 0 var(--clr-main);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--clr-main);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 var(--clr-third);
  }
  50% {
    box-shadow: 0 0 0 var(--clr-third);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--clr-third);
    margin-top: 0;
  }
}

.loader-form {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
  margin: 15px auto;
  position: relative;
  color: var(--clr-main);
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 var(--clr-second), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 var(--clr-second), 100px 0 var(--clr-second),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 var(--clr-second), 110px 0 var(--clr-second),
      100px 0 var(--clr-second), 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 var(--clr-second), 120px 0 var(--clr-second),
      110px 0 var(--clr-second), 100px 0 var(--clr-second);
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--clr-second),
      120px 0 var(--clr-second), 110px 0 var(--clr-second);
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 var(--clr-second), 120px 0 var(--clr-second);
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 var(--clr-second);
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
