:root {
  --clr-main: #211c84;
  --clr-second: #4d55cc;
  --clr-third: #7a73d1;
  --clr-fourth: #e8e2f5;
  --clr-g1: #32ff84;
  --clr-g2: #e9ffe2;
  --clr-r1: #fb2222;
  --clr-r2: #ffe2e2;
  --clr-y1: #ffbc22;
  --clr-y2: #fff0ce;
  --clr-grey: #797979;
  --clr-bg: #f8f8fb;
}

@font-face {
  font-family: "poppin";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppin";
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

i {
  color: var(--clr-second);
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  
}

button:hover {
  cursor: pointer;
}

.text-grey {
  color: var(--clr-grey);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  position: relative;
  height: 50px;
  width: auto;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  width: 100%;
  background-color: white;
  justify-content: end;
  text-align: end;
  box-shadow: 1px 0 5px rgba(128, 128, 128, 0.26);
}

.header .text-wrapper {
  padding: 10px;
}

.header .text-grey {
  font-size: 0.7em;
}

.content-page {
  padding: 5px;
}

.base-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.content {
  background-color: var(--clr-bg);
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.form-search {
  gap: 10px;
  flex-wrap: wrap;
}

.form-search .search-box {
  border: 1px solid var(--clr-third);
  outline: none;
  background-color: none;
  padding: 7px;
  border-radius: 10px;
}
.form-search .search-button:hover {
  cursor: pointer;
  background-color: var(--clr-third);
  color: white;
}
.form-search .search-button {
  background-color: none;
  border: none;
  background-color: var(--clr-fourth);
  outline: none;
  color: var(--clr-second);
  padding: 8px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  font-weight: bold;
}

.table-wrapper i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.table-wrapper .title-head-td {
  font-size: 0.8em;
  align-items: center;
  gap: 10px;
}

.title-head-td .title {
  font-weight: bold;
  color: var(--clr-main);
}

.table-wrapper {
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.header-table {
  gap: 20px;
}

.table .t-head {
  background-color: var(--clr-fourth);
  color: var(--clr-second);
  font-size: 0.9em;
  text-decoration: none;
  outline: var(--clr-fourth);
}

.table-container {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table,
.table th,
.table td {
  border: 0; /* Menghilangkan border */
}
.table th {
  white-space: nowrap;
  width: 150px;
  padding: 8px;
  text-align: left;
}

.table th:nth-child(1) {
  max-width: 15px;
}
.table td {
  padding: 8px;
  text-align: left;
}

.table .t-d td {
  white-space: nowrap;
  font-size: 0.8em;
  border-bottom: 1px solid var(--clr-fourth);
}

/* ================================================== */

.enable-t {
  color: var(--clr-g1);
  background-color: var(--clr-g2);
  text-align: center;
  border-radius: 20px;
  padding: 0 10px;
  margin: 0;
  width: fit-content;
  white-space: nowrap;
}

.disable-t {
  color: var(--clr-r1);
  background-color: var(--clr-r2);
  text-align: center;
  border-radius: 20px;
  padding: 0 10px;
  margin: 0;
  width: fit-content;
  white-space: nowrap;
}

.button-wrapper {
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main-button, .success-button, .warning-button, .danger-button {
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  text-align: center;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
  font-size: 1em;
  cursor: pointer; /* Menambahkan cursor pointer di sini */
}

.main-button {
  background-color: var(--clr-fourth);
  color: var(--clr-second);
}

.main-button:hover {
  background-color: var(--clr-second);
  color: white;
}

.success-button {
  background-color: var(--clr-g2);
  color: var(--clr-g1);
}

.success-button:hover {
  background-color: var(--clr-g1);
  color: white;
}

.warning-button {
  background-color: var(--clr-y2);
  color: var(--clr-y1);
}

.warning-button:hover {
  background-color: var(--clr-y1);
  color: white;
}

.danger-button {
  background-color: var(--clr-r2);
  color: var(--clr-r1);
}

.danger-button:hover {
  background-color: var(--clr-r1);
  color: white;
}


/* ======================================================= */
.sidebar {
  padding: 20px;
  height: 100%; /* Tinggi sidebar 100% dari wrapper */
  position: fixed; /* Memperbaiki sidebar di tempat */
  top: 0;
  left: 0;
}
.sidebar-box {
  width: 205px;
  position: relative;
}

.sidebar-box.collapse {
  width: 96px;
}

.menu {
  gap: 10px;
  padding-top: 20px;
}

.logo {
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--clr-second);
}

.menu .row {
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.menu .row {
  color: black;
  padding: 10px 12px;
}

.sidebar .logo.collapse {
  justify-content: center;
  align-items: center;
}

.sidebar .logo .fa-angle-left.collapse {
  rotate: -180deg;
}

.menu-collapse.collapse {
  justify-content: center;
  align-items: center;
}

/* .menu-collapse.collapse i:hover{
  rotate: -360deg;
} */

.menu-link {
  border-radius: 20px;
}

.menu-link:hover {
  background-color: #e8e2f544;
}

.menu-link.active .row {
  color: var(--clr-second);
}

.menu-link.active {
  background-color: var(--clr-fourth);
}

.menu-text.hidden {
  display: none;
}

/* ============dashboard================= */

.dashboard {
  position: relative;
  gap: 5px;
}
.dashboard .main-container {
  /* flex-wrap: wrap-reverse; */
  position: relative;
}

.dashboard select {
  outline: none;
  border: none;
}

.dashboard option {
  outline: none;
  border: none;
}

.dashboard .item1 {
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.dashboard .item1 .item.card-client {
  justify-content: space-between;
  min-width: 200px;
  gap: 10px;
}

.dashboard .row,
.dashboard .column {
  gap: 5px;
}

.dashboard .item {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.096);
  padding: 15px;
}

.dashboard .item .main-text {
  color: var(--clr);
}

.dashboard .card-client .number {
  color: var(--clr);
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
}

.dashboard .card-client .title {
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.8em;
}

.dashboard .card-client .text-grey {
  font-size: 0.6em;
}

.dashboard .item i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.dashboard .card-config {
  width: 100%;
  gap: 20px;
}

.dashboard .card-config .title i {
  font-size: 1.1em;
}

.dashboard .card-config .title {
  font-weight: bold;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
}

.dashboard .card-config .config-t {
  gap: 10px;
  justify-content: start;
  align-items: start;
}

.dashboard .card-config .config-t i {
  font-size: 0.8em;
}

.dashboard .card-config .config-text {
  gap: 10px;
  justify-content: center;
}

.dashboard .item2 {
  height: 100%;
}

.dashboard .card-quick .quick-wrapper {
  gap: 10px;
}

.dashboard .item2 .card-quick {
  gap: 20px;
  min-width: 200px;
}

.dashboard .card-quick a {
  margin: 0;
  font-size: 0.7em;
  justify-content: start;
  align-items: center;
  color: var(--clr-second);
  transition: all ease-in-out 0.2s;
}

.dashboard .card-genieacs {
  width: 100%;
}

.dashboard .card-quick a:hover i {
  rotate: 90deg;
}

.dashboard .card-genieacs .item1-genieacs {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard .genieacs-wrapper {
  justify-content: space-around;
  padding-top: 10px;
  flex-wrap: wrap;
}

.dashboard .genieacs-wrapper .title {
  font-weight: bold;
}

.dashboard .card-genieacs .item1-genieacs .number {
  color: var(--clr-second);
  font-weight: bold;
  font-size: 2em;
}
.dashboard .card-genieacs .item1-genieacs .desc {
  font-size: 0.7em;
}

.dashboard .card-genieacs .item2-genieacs {
  gap: 20px;
  height: 100%;
}

.dashboard .card-genieacs .item2-genieacs .row {
  align-items: center;
}

.dashboard .card-genieacs .item2-genieacs .item-data {
  font-size: 0.7em;
}

.dashboard .card-genieacs .item2-genieacs .circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--clr);
}

.dashboard .dashboard-table {
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.dashboard .header-dashboard-table {
  gap: 20px;
}

/* r here the template */

.dashboard .dashboard-table i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.dashboard .dashboard-table .title-head-td {
  font-size: 0.8em;
  align-items: center;
  gap: 10px;
}

.dashboard .title-head-td .title {
  font-weight: bold;
  color: var(--clr-main);
}
/* r here the template */

.center-th {
  text-align: center!important;
}



.form-wrapper .title-head-td {
  font-size: 0.8em;
  align-items: center;
  gap: 10px;
}

.form-wrapper .button-wrapper {
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}

.form-wrapper i {
  background-color: var(--clr);
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--icon-clr);
}

.form-wrapper {
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.form-header {
  gap: 20px;
}

.form-wrapper form {
gap: 20px;
}

.form-wrapper form .column{
  gap: 5px;
  }

.form-wrapper input{
  padding: 10px 10px 5px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-second);
}

.form-wrapper select {
  border: 1px solid var(--clr-second);
  outline: none;
  padding: 10px 10px 10px 2px;

}

* {
  /* border: 1px solid rgba(255, 0, 0, 0.178); */
}
