{% extends 'dashboard/base.html' %} {% block content %}

<div class="column dashboard content-page">
  <div class="main-container row">
    <div class="column">
      <div class="item1 row">
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-second)">
                Total Client
              </div>
              <div class="text-grey">Last 30 Days</div>
            </div>
            <i
              class="fa-solid fa-user"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-second)">100</div>
        </div>
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-g1)">
                Client Active
              </div>
              <div class="text-grey">Last 30 Days</div>
            </div>
            <i
              class="fa-solid fa-user-check"
              style="--clr: var(--clr-g2); --icon-clr: var(--clr-g1)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-g1)">94</div>
        </div>
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-y1)">
                Menunggu Konfirmasi
              </div>
              <div class="text-grey">Last 30 Days</div>
            </div>
            <i
              class="fa-solid fa-user-clock"
              style="--clr: var(--clr-y2); --icon-clr: var(--clr-y1)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-y1)">6</div>
        </div>
      </div>
      <div class="item2 row">
        <div class="item card-quick column">
          <div class="title-sec-card">Quick Link</div>
          <div class="quick-wrapper column">
            <a href="{% url 'add-server' %}" class="row">
              <i
                class="fa-solid fa-plus"
                style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
              ></i>
              Add Server
            </a>
            <a href="{% url 'add-paket' %}" class="row">
              <i
                class="fa-solid fa-plus"
                style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
              ></i>
              Add Paket
            </a>
            <a href="{% url 'add-client' %}" class="row">
              <i
                class="fa-solid fa-plus"
                style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
              ></i>
              Add Client
            </a>
          </div>
        </div>
        <div class="item card-genieacs column">
          <div class="title-sec-card row">
            <div class="">GenieACS Server</div>
            <select name="server" id="server">
              <option value="Mikrotik 1">Mikrotik 1</option>
              <option value="Mikrotik 2">Mikrotik 2</option>
            </select>
          </div>
          <div class="genieacs-wrapper row">
            <div class="item1-genieacs column">
              <div class="title">Terdaftar</div>
              <div class="number">30%</div>
              <div class="desc">
                30
                <span class="text-grey"
                  >Perangkat <br />
                  Terdaftar dari <br
                /></span>
                100 Clients
              </div>
            </div>
            <div class="item2-genieacs column">
              <div class="title">Redaman</div>
              <div class="item-data column">
                <div class="row">
                  <div class="circle" style="--clr: var(--clr-g1)"></div>
                  <span class="text-grey">Baik : 28</span>
                </div>
                <div class="row">
                  <div class="circle" style="--clr: var(--clr-y1)"></div>
                  <span class="text-grey">Sedang : 28</span>
                </div>
                <div class="row">
                  <div class="circle" style="--clr: var(--clr-r1)"></div>
                  <span class="text-grey">Buruk : 28</span>
                </div>
              </div>
            </div>
            <div class="item2-genieacs column">
              <div class="title">Temperatur</div>
              <div class="item-data column">
                <div class="row">
                  <div class="circle" style="--clr: var(--clr-g1)"></div>
                  <span class="text-grey">Normal : 28</span>
                </div>
                <div class="row">
                  <div class="circle" style="--clr: var(--clr-y1)"></div>
                  <span class="text-grey">Sedang : 28</span>
                </div>
                <div class="row">
                  <div class="circle" style="--clr: var(--clr-r1)"></div>
                  <span class="text-grey">Panas : 28</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item card-config column">
      <div class="title row">
        <div class="main-text" style="--clr: var(--clr-second)">
          Konfigurasi
        </div>
        <i
          class="fa-solid fa-gears"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
      </div>
      <div class="config-wrapper column">
        <div class="config-t row">
          <i
            class="fa-solid fa-server"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
          <div class="config-text column">
            <div class="text-grey">Server</div>
            <div class="config-r">3</div>
          </div>
        </div>
        <div class="config-t row">
          <i
            class="fa-solid fa-coins"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
          <div class="config-text column">
            <div class="text-grey">Paket Tersedia</div>
            <div class="config-r">3</div>
          </div>
        </div>
        <div class="config-t row">
          <i
            class="fa-solid fa-user-lock"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
          <div class="config-text column">
            <div class="text-grey">Profile Isollir</div>
            <div class="enable-t">enabled</div>
          </div>
        </div>
        <div class="config-t row">
          <i
            class="fa-solid fa-ethernet"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
          <div class="config-text column">
            <div class="text-grey">GenieACS Server</div>
            <div class="disable-t">disabled</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-table column">
    <div class="header-dashboard-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Client List</span>
      </div>
      <form action="" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          id="gsearch"
          name="search"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>
    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama</th>
          <th>Paket</th>
          <th class="center-th">Status</th>
          <th>ID PPPoE</th>
          <th>Rx</th>
          <th >Aktif</th>
          <th>IP TR069</th>
          <th>Action</th>
        </tr>
        <tr class="t-d">
          <td>1</td>
          <td>John Doe</td>
          <td>Paket A</td>
          <td><div class="disable-t">Non Aktif</div></td>
          <td>pppoe123</td>
          <td>-18 dbm</td>
          <td>5</td>
          <td>192.168.1.1</td>
          <td><a href="#" class="main-button">View</a></td>
        </tr>
        <tr class="t-d">
          <td>2</td>
          <td>Kumar De Jahe</td>
          <td>Paket B</td>
          <td><div class="enable-t">Aktif</div></td>
          <td>yoi123</td>
          <td>-23 dbm</td>
          <td>5</td>
          <td>192.168.1.2</td>
          <td><a href="#" class="main-button">View</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
