{% extends 'dashboard/base.html' %} {% block content %} {% load static %}

<div class="column dashboard content-page">
  <div class="main-container row">
    <div class="column container1">
      <div class="item card-config quick column">
        <div class="title row">
          <div class="main-text" style="--clr: var(--clr-second)">
            Quick Link
          </div>
          <i
            class="fa-solid fa-gears"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
        </div>
        <div class="quick-link row">
          <a href="{% url 'add-server' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add Server</b>
          </a>
          <a href="{% url 'add-paket' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add Paket</b>
          </a>
          <a href="{% url 'add-client' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add Client</b>
          </a>
        </div>
      </div>
      <div class="item card-monitoring column">
        <div class="title row">
          <div class="main-text" style="--clr: var(--clr-second)">Server</div>
          <select name="server" id="server">
            {% for server in servers %}
            <option
              value="{{ server.id }}"
              {%
              if
              forloop.first
              %}selected{%
              endif
              %}
            >
              {{ server.name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div id="server-info" class="column" style="gap: 10px"></div>
      </div>
    </div>
    <div class="column container2">
      <div class="item card-config column">
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-g1)">
                Total Pelanggan
              </div>
              <!-- <div class="text-grey">Last 30 Days</div> -->
            </div>
            <i
              class="fa-solid fa-user"
              style="--clr: var(--clr-g2); --icon-clr: var(--clr-g1)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-g1)">
            {{ total_clients }}
          </div>
        </div>
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-y1)">
                Menunggu Konfirmasi
              </div>
              <!-- <div class="text-grey">Last 30 Days</div> -->
            </div>
            <i
              class="fa-solid fa-user-clock"
              style="--clr: var(--clr-y2); --icon-clr: var(--clr-y1)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-y1)">
            {{ inactive_clients }}
          </div>
        </div>
      </div>
      <div class="item card-config column">
        <div class="title row">
          <div class="main-text" style="--clr: var(--clr-second)">
            Konfigurasi
          </div>
          <i
            class="fa-solid fa-gears"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
        </div>
        <div class="config-wrapper row">
          <div class="config-item column">
            <i class="fa-solid fa-server"></i>
            <div class="number">{{ total_servers }}</div>
            <div class="text-grey">Server</div>
          </div>
          <div class="config-item column">
            <i class="fa-solid fa-coins"></i>
            <div class="number">{{ total_pakets }}</div>
            <div class="text-grey">Paket</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-table column">
    <div class="header-dashboard-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Client List</span>
      </div>
      <form method="GET" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          name="s"
          value="{{ query }}"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>
    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama</th>
          <th class="w-sm">Paket</th>
          <th class="center-th">Status</th>
          <th  >ID PPPoE</th>
          <th >Rx</th>
          <th >Aktif</th>
          <th>IP TR069</th>
          <th>Action</th>
        </tr>
        {% for client in clients %}
        <tr class="t-d">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.id_paket }}</td>
          <td class="td-center"> <div
              class=" {% if client.isActive %}enable-t{% else %}disable-t{% endif %}"
            >
              {% if client.isActive %}Aktif{% else %}Nonaktif{% endif %}
            </div></td>
          <td>{{ client.pppoe }}</td>
          <td>-18 dbm</td>
          <td>5</td>
          <td>192.168.1.1</td>
          <td><a href="{% url 'detail-client' client.id %}" class="main-button">View</a></td>
        </tr>

        {% empty %}
        <tr>
          <td colspan="7" class="center">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="pagination row">
      {% if clients.has_previous %}
      <a
        href="?page=1{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >First</a
      >
      <a
        href="?page={{ clients.previous_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-left"></i
      ></a>
      {% endif %}

      <span class="current-page"
        >Page {{ clients.number }} of {{ clients.paginator.num_pages }}</span
      >

      {% if clients.has_next %}
      <a
        href="?page={{ clients.next_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-right"></i
      ></a>
      <a
        href="?page={{ clients.paginator.num_pages }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >Last</a
      >
      {% endif %}
    </div>
  </div>
</div>

<script>
  function loadServerInfo(serverId) {
    const infoDiv = document.getElementById("server-info");
    infoDiv.innerHTML = `
    <span class="loader-form" style="display: block;"></span>
    <p class="text-center">Load Data....</p>`;

    fetch(`/get-server-info/${serverId}/`)
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          infoDiv.innerHTML = `<p class="text-center" style="color:red;">Error: ${data.error}</p>`;
        } else {
          const free = data.free_memory;
          const total = data.total_memory;
          const used = total - free;

          const usedPercent = ((used / total) * 100).toFixed(2);

          infoDiv.innerHTML = `
        <div class="row monitor-wrapper">
          <div class="card-donut column">
            <div class="donut-name row">
              <i class="fa-solid fa-microchip"></i>
              <div class="">CPU usage</div>
            </div>
            <div class="donut-content">
              <canvas id="cpuLoad"></canvas>
              <div class="number">${data.cpu_load}%</div>
            </div>
            <div class="donut-desc">
              <span class="text-main">${data.cpu_load}%</span> used
            </div>
          </div>
          <div class="card-donut column">
            <div class="donut-name row">
              <i class="fa-solid fa-hard-drive"></i>
              <div class="">Memory usage</div>
            </div>
            <div class="donut-content">
              <canvas id="memoryUsage"></canvas>
              <div class="number">${usedPercent}%</div>
            </div>
            <div class="donut-desc">
              free<span class="text-main"> ${data.free_memory} MB</span>
              <span class="text-grey"> from </span
              ><span class="text-main">${data.total_memory} MB</span>
            </div>
          </div>
          <div class="card-donut column">
            <div class="donut-name row">
              <i class="fa-solid fa-user-check"></i>
              <div class="">PPPoE Active</div>
            </div>
            <div class="donut-content">
              <canvas id="pppClient"></canvas>
              <div class="number">90%</div>
            </div>
            <div class="donut-desc">
              <span class="text-main"> 90 active</span>
              <span class="text-grey"> from </span
              ><span class="text-main">60 List</span>
            </div>
          </div>
          <div class="card-donut column device">
            <div class="donut-name row">
              <i class="fa-solid fa-circle-info"></i>
              <div class="">Device Information</div>
            </div>
            <div class="card-device-wrapper-main column">
              <div class="device-text column">
                <div class="">${data.cpu_freq} GHz</div>
                <div class="text-grey">${data.cpu_count} CPU</div>
              </div>
              <div class="device-content">
                <div class="circle"></div>
                <div class="number">${data.uptime}</div>
              </div>
              <div class="device-text-wrapper row">
                <div class="device-text column">
                  <div class="">${data.cpu}</div>
                  <div class="text-grey">${data.version}</div>
                </div>
                <div class="device-text">${data.board_name}</div>
              </div>
            </div>
          </div>
        </div>              `;
          const cpuLoad = document.getElementById("cpuLoad");
          const memoryUsage = document.getElementById("memoryUsage");
          const pppClient = document.getElementById("pppClient");

          new Chart(cpuLoad, {
            type: "doughnut",
            data: {
              datasets: [
                {
                  rotation: 180,
                  cutout: 60,
                  data: [data.cpu_load, 100 - data.cpu_load],
                  backgroundColor: ["#211C84", "#E8E2F5"],
                  hoverOffset: 4,
                },
              ],
            },
          });

          new Chart(memoryUsage, {
            type: "doughnut",
            data: {
              datasets: [
                {
                  rotation: 180,
                  cutout: 60,
                  data: [usedPercent, 100 - usedPercent],
                  backgroundColor: ["#211C84", "#E8E2F5"],
                  hoverOffset: 4,
                },
              ],
            },
          });

          new Chart(pppClient, {
            type: "doughnut",
            data: {
              datasets: [
                {
                  rotation: 180,
                  cutout: 60,
                  data: [90, 10],
                  backgroundColor: ["#211C84", "#E8E2F5"],
                  hoverOffset: 4,
                },
              ],
            },
          });
        }
      })
      .catch((err) => {
        infoDiv.innerHTML = `<p class="text-center" style="color:red;">Error: ${err}</p>`;
      });
  }

  document.addEventListener("DOMContentLoaded", function () {
    const selectEl = document.getElementById("server");

    // Muat info server pertama saat halaman terbuka
    if (selectEl && selectEl.value) {
      loadServerInfo(selectEl.value);
    }

    // Ganti info saat pilih server lain
    selectEl.addEventListener("change", function () {
      loadServerInfo(this.value);
    });
  });
</script>

<script src="{% static 'js/chart.umd.js' %}"></script>

{% endblock %}
