{% extends 'index.html' %} {% block content %} {% load custom_filters%}{% load static %}

<div class="content-page client">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user-group"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Client List</span>
      </div>
      <a href="{% url 'add-client' %}" class="success-button">Add CLient +</a>
    </div>

    <div class="row gap-10 align-center">
      <p>Action:</p>
      <select name="" id="action-dropdown" class="action-dropdown">
        <option value="" selected>Select Action</option>
        <option value="delete">Delete Selected Data</option>
        <option value="verifikasi">Verifikasi perubahan</option>
        <option value="payment">Change Payment Status</option>
      </select>
      <button class="button success-button" id="go-action">Go</button>
    </div>    

    <div class="table-container">
      <table class="table" id="table">
  <thead>
    <tr class="t-head">
      <th><input type="checkbox" id="select-all-checkbox"></th>
      <th>#</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Paket</th>
      <th>Server</th>
      <th>Status</th>
      <th>Payment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr class="t-d">
      <td>
        <input type="checkbox" class="client-checkbox" 
        data-id="{{ client.id }}"
        data-name="{{ client.name }}" 
        data-pppoe="{{client.pppoe}}"
        data-host="{{client.id_paket.id_ip_pool.id_server.host}}"
        data-username="{{client.id_paket.id_ip_pool.id_server.username}}"
        data-password="{{client.id_paket.id_ip_pool.id_server.password}}"
        >
      </td>
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.address }}</td>
      <td>{{ client.id_paket.price|rupiah }} - {{ client.id_paket.limit }}</td>
      <td>{{ client.id_paket.id_ip_pool.id_server.name }}</td>

      <td>
        <div class="{% if client.isActive %}enable-t{% else %}disable-t{% endif %}">
          {% if client.isActive %}Online{% else %}Offline{% endif %}
        </div>
      </td>

      <td>
        <div class="{% if client.isPayed %}enable-t{% else %}waiting-t{% endif %}">
          {% if client.isPayed %}Done{% else %}Waiting{% endif %}
        </div>
      </td>
      <td>
        {% if user.is_authenticated %}
        <button
          onclick="cekModifyClientData('{{ client.id }}','{{client.temp_name}}','{{client.temp_address}}','{{client.temp_phone}}', '{{client.temp_paket.id_ip_pool.id_server.name}}', '{{ client.temp_paket.name }} - {{ client.temp_paket.price|rupiah }} - {{ client.temp_paket.limit }}', '{{client.temp_pppoe}}', '{{client.temp_lat}}', '{{client.temp_long}}', '{{client.temp_local_ip}}', '{{client.temp_email}}')"
          class="icon-button {% if client.isApproved %}disable-button{% else %}main-button {% endif %}"
          {% if client.isApproved %}disabled{% endif %}
        >
          <i class="fa-solid fa-check"></i>
        </button>
        {% else %}
          &nbsp;
        {% endif %}
      </td>

      <td>
        <div class="row button-wrapper">
          <a href="{% url 'detail-client' client.id %}" class="main-button">view</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
  </div>
</div>


<script src="{% static 'js/scripts/checkbox.js' %}"></script>



<script>
  $(document).ready(function () {
    $("#table").DataTable({
      pageLength: 10,
      searching: true,
      stateSave: true,
      columnDefs: [
      { targets: [0,9], orderable: false, searchable: false }
        ]
    });
  });
</script>




{% endblock %}
