{% extends 'index.html' %} {% block content %} {% load custom_filters%}

<div class="content-page client">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user-group"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Client List</span>
      </div>
      <a href="{% url 'add-client' %}" class="success-button">Add CLient +</a>
      <!-- <form method="GET" class="form-search row">
       <div class="column">
         <label for="per_page" class="text-sm">Search:</label>
        <input class="search-box" type="search" placeholder="Search" name="s" value="{{ query }}"/>
       </div>
       
       <div class="column">
         <label for="per_page" class="text-sm">Show:</label>
        <input class="search-box w-md" type="number" placeholder="{{page_number}}" name="per_page" id="per_page" value="{{ per_page }}" min="1" />
       </div>

       <div class="column">
        <label for="filter" class="text-sm">filter</label>
        <select name="filter" id="filter" onchange="this.form.submit()" class="search-box w-fit">
          <option value="" {% if filter == "" %}selected{% endif %}>All</option>
          <option value="online" {% if filter == "online" %}selected{% endif %}>Online</option>
          <option value="offline" {% if filter == "offline" %}selected{% endif %}>Offline</option>
          <option value="done" {% if filter == "done" %}selected{% endif %}>Done</option>
          <option value="waiting" {% if filter == "waiting" %}selected{% endif %}>Waiting</option>
        </select>
       </div>

        <input style="display:none" type="submit" />
      </form> -->
    </div>

    <div class="table-container">
      <table class="table" id="table">
  <thead>
    <tr class="t-head">
      <th>#</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Paket</th>
      <th>Server</th>
      <th>Status</th>
      <th>Payment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr class="t-d">
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.address }}</td>
      <td>{{ client.id_paket.price|rupiah }} - {{ client.id_paket.limit }}</td>
      <td>{{ client.id_paket.id_ip_pool.id_server.name }}</td>

      <td>
        <div class="{% if client.isActive %}enable-t{% else %}disable-t{% endif %}">
          {% if client.isActive %}Online{% else %}Offline{% endif %}
        </div>
      </td>

      <td>
        <div class="{% if client.isPayed %}enable-t{% else %}waiting-t{% endif %}">
          {% if client.isPayed %}Done{% else %}Waiting{% endif %}
        </div>
      </td>
      <td>
        {% if user.is_authenticated %}
        <button
          onclick="cekModifyClientData('{{ client.id }}','{{client.temp_name}}','{{client.temp_address}}','{{client.temp_phone}}', '{{client.temp_paket.id_ip_pool.id_server.name}}', '{{ client.temp_paket.name }} - {{ client.temp_paket.price|rupiah }} - {{ client.temp_paket.limit }}', '{{client.temp_pppoe}}', '{{client.temp_lat}}', '{{client.temp_long}}', '{{client.temp_local_ip}}', '{{client.temp_email}}')"
          class="icon-button {% if client.isApproved %}disbale-button{% else %}main-button {% endif %}"
          {% if client.isApproved %}disabled{% endif %}
        >
          <i class="fa-solid fa-check"></i>
        </button>
        {% else %}
          &nbsp;
        {% endif %}
      </td>

      <td>
        <div class="row button-wrapper">
          <a href="{% url 'detail-client' client.id %}" class="main-button">view</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
  </div>
</div>



<script>
  $(document).ready(function () {
    $("#table").DataTable({
      pageLength: 10,
      searching: true,
      stateSave: true,
      columnDefs: [
      { targets: [8], orderable: false, searchable: false }
        ]
    });
  });
</script>




{% endblock %}
