{% extends 'index.html' %} {% block content %} {% load static %} {% load custom_filters%}

<div class="column dashboard content-page">
  <div class="main-container row">
    <div class="column container1">
      <div class="item card-config quick column">
        <div class="title row">
          <div class="main-text" style="--clr: var(--clr-second)">
            Quick Link
          </div>
          <i
            class="fa-solid fa-gears"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
        </div>
        <div class="quick-link row">
          <a href="{% url 'add-server' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add Server</b>
          </a>
          <a href="{% url 'add-paket' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add Paket</b>
          </a>
          <a href="{% url 'add-ip' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add IP Pool</b>
          </a>
          <a href="{% url 'add-client' %}" class="row">
            <i
              class="fa-solid fa-plus"
              style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
            ></i>
            <b>Add Client</b>
          </a>
        </div>
      </div>
      <div class="item card-monitoring column">
        <div class="title row">
          <div class="main-text" style="--clr: var(--clr-second)">Server</div>
          <select name="server" id="server">
            {% for server in servers %}
            <option value="{{ server.id }}" {% if forloop.first %} selected {% endif %}>
              {{ server.name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div id="server-info" class="column" style="gap: 10px"></div>
      </div>
    </div>
    <div class="column container2">
      <div class="item card-config column">
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-g1)">
                Total Pelanggan
              </div>
              <!-- <div class="text-grey">Last 30 Days</div> -->
            </div>
            <i
              class="fa-solid fa-user"
              style="--clr: var(--clr-g2); --icon-clr: var(--clr-g1)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-g1)">
            {{ total_clients }}
          </div>
        </div>
        <div class="item card-client column">
          <div class="title row">
            <div class="text">
              <div class="main-text" style="--clr: var(--clr-y1)">
                Menunggu Konfirmasi
              </div>
              <!-- <div class="text-grey">Last 30 Days</div> -->
            </div>
            <i
              class="fa-solid fa-user-clock"
              style="--clr: var(--clr-y2); --icon-clr: var(--clr-y1)"
            ></i>
          </div>
          <div class="number" style="--clr: var(--clr-y1)">
            {{ inactive_clients }}
          </div>
        </div>
      </div>
      <div class="item card-config column">
        <div class="title row">
          <div class="main-text" style="--clr: var(--clr-second)">
            Konfigurasi
          </div>
          <i
            class="fa-solid fa-gears"
            style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
          ></i>
        </div>
        <div class="config-wrapper row">
          <div class="config-item column">
            <i class="fa-solid fa-server"></i>
            <div class="number">{{ total_servers }}</div>
            <div class="text-grey">Server</div>
          </div>
          <div class="config-item column">
            <i class="fa-solid fa-coins"></i>
            <div class="number">{{ total_pakets }}</div>
            <div class="text-grey">Paket</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-table column">
    <div class="header-dashboard-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Daftar Pelanggan</span>
      </div>
      <form method="GET" class="form-search row">
       <div class="column">
         <label for="per_page" class="text-sm">Search:</label>
        <input class="search-box" type="search" placeholder="Search" name="s" value="{{ query }}"/>
       </div>
       
       <div class="column">
         <label for="per_page" class="text-sm">Show:</label>
        <input class="search-box w-md" type="number" placeholder="{{page_number}}" name="per_page" id="per_page" value="{{ per_page }}" min="1" />
       </div>

       <div class="column">
        <label for="filter" class="text-sm">filter</label>
        <select name="filter" id="filter" onchange="this.form.submit()" class="search-box w-fit">
          <option value="" {% if filter == "" %}selected{% endif %}>All</option>
          <option value="online" {% if filter == "online" %}selected{% endif %}>Online</option>
          <option value="offline" {% if filter == "offline" %}selected{% endif %}>Offline</option>
          <option value="done" {% if filter == "done" %}selected{% endif %}>Done</option>
          <option value="waiting" {% if filter == "waiting" %}selected{% endif %}>Waiting</option>
        </select>
       </div>

        <input style="display:none" type="submit" />
      </form>
    </div>
    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama</th>
          <th class="w-sm">Paket</th>
          <th class="center-th">Status</th>
          <th>ID PPPoE</th>
          <th>Server</th>
          <th>Rx</th>
          <th class="center-th">Device Aktif</th>
          <th>IP TR069</th>
          <th>Action</th>
        </tr>
        {% for client in clients %}
        <tr class="t-d">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.id_paket.price|rupiah }} | {{client.id_paket.limit}}</td>
          <td class="td-center">
            <div
              class="{% if client.isActive %}enable-t{% else %}disable-t{% endif %}"
            >
              {% if client.isActive %}Online{% else %}Offline{% endif %}
            </div>
          </td>
          <td>{{ client.pppoe }}</td>
          <td>{{ client.id_paket.id_ip_pool.id_server.name }}</td>
          <td>-18 dbm</td>
          <td class="td-center" style="padding: 18px 0;">5</td>
          <td>192.168.1.1</td>
          <td>
            <a href="{% url 'detail-client' client.id %}" class="main-button"
              >View</a
            >
          </td>
        </tr>

        {% empty %}
        <tr>
          <td colspan="7" class="center text-sm">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="pagination row text-sm">
      {% if clients.has_previous %}
      <a href="?page=1{% if query %}&s={{ query }}{% endif %}&per_page={{ page_number }}&filter={{filter}}" class="page-button">First</a>
      <a href="?page={{ clients.previous_page_number }}{% if query %}&s={{ query }}{% endif %}&per_page={{ page_number }}&filter={{filter}}" class="page-button">
        <i class="fa-solid fa-angle-left"></i>
      </a>
      {% endif %}
      <span class="current-page">Page {{ clients.number }} of {{ clients.paginator.num_pages }}</span>

      {% if clients.has_next %}
      <a href="?page={{ clients.next_page_number }}{% if query %}&s={{ query }}{% endif %}&per_page={{ page_number }}&filter={{filter}}" class="page-button">
        <i class="fa-solid fa-angle-right"></i>
      </a>
      <a href="?page={{ clients.paginator.num_pages }}{% if query %}&s={{ query }}{% endif %}&per_page={{ page_number }}&filter={{filter}}" class="page-button">Last</a>
      {% endif %}
    </div>
  </div>
</div>

<script>
  const NO_DATA_IMG = "{% static 'assets/nodata.webp' %}";
</script>

<script src="{% static 'js/scripts/chartDashboard.js' %}"></script>

<script src="{% static 'js/library/chart.umd.js' %}"></script>

{% endblock %}
