{% extends 'index.html' %} {% block content %}

<div id="map" style="height: 100%; width: 100%"></div>


<script>
  // Inisialisasi Map
  const map = L.map('map').setView([0, 120], 5); 

  if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(
        function(pos){
            var lat = pos.coords.latitude
            var lng = pos.coords.longitude
            map.setView([lat, lng], 14)
        }
    )
  }

  // Tambahkan Tile Layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map)

  const clients = {{ clients_json|safe }};
  const servers = {{servers_json|safe}};
  const gateways = {{gateways_json|safe}};
  console.log(clients)

  console.log(clients)


    servers.forEach(function(server) {
        if (server.lat && server.long) {
            L.marker([server.lat, server.long], { icon: serverIcon })
             .addTo(map)
             .bindTooltip("<b>" + server.name + "</b>");
        }
    });

    gateways.forEach((item)=>{
      const itemMarker = L.marker([item.lat, item.long], { icon: odpIcon }, 
      {title: item.name})
      .addTo(map)
      .bindTooltip("<b>" + item.name + "</b>");
      L.polyline([
        [item.parent_lat, item.parent_long],
        [item.lat, item.long]
      ],{ color: "blue" }).addTo(map)
    })


     clients.forEach((item)=>{
      const itemMarker = L.marker([item.lat, item.long], { icon: clientIcon }, 
      {title: item.name})
      .addTo(map)
      .bindTooltip("<b>" + item.name + "</b>");
      L.polyline([
        [item.gateway_lat, item.gateway_long],
        [item.lat, item.long]
      ],{ color: "black" }).addTo(map)
    })
</script>

{% endblock %}
