{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-page">
  <div class="form-wrapper column">
    <div class="form-header column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">{{ form.instance.pk|yesno:"Edit Pelanggan,Tambah Pelanggan Baru"}}</span>
      </div>
    </div>

    <form method="post" class="column">
      {% csrf_token %}
      <div class="column">
        <label for="profile">Paket</label>
        {{ form.id_paket }}
      </div>
      <div class="column">
        <label for="fullname">Name </label>
        {{ form.name }}
      </div>
      <div class="column">
        <label for="address">Alamat</label>
        {{ form.address }}
      </div>
      <div class="column">
        <label for="phone">No Hp </label>
        {{ form.phone }}
      </div>

      

      <div class="column">
        <label for="pppoeID">ID PPPoE</label>
        {{ form.pppoe }}
      </div>
      <div class="column">
        <label for="pppoePass">Password PPPoE</label>
        {{ form.password }}
      </div>

      <div class="row button-wrapper">
        <button class="success-button" type="submit">Simpan</button>
        <button
          class="warning-button no-loader"
          type="button"
          onclick="window.history.back();"
        >
          Batal
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
