{% extends 'dashboard/base.html' %} {% block content %} {% load custom_filters%}

<div class="content-page client">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-user-group"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Client List</span>
      </div>
      <a href="{% url 'add-client' %}" class="success-button">Add CLient +</a>
      <form method="GET" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          name="s"
          value="{{ query }}"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>

    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>No Hp</th>
          <th>Paket</th>
          <th>Server</th>
          <th class="center-th">Status</th>
          <th class="center-th">Action</th>
          {% if user.is_authenticated %}<th></th>{% else %}{% endif %}
          
        </tr>
        {% for client in clients %}
        <tr class="t-d">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.id_paket.name }} - {{ client.id_paket.limit }}</td>
          <td>{{ client.id_paket.id_ip_pool.id_server.name }}</td>

          <td class="td-center">
            <div
              class="{% if client.isActive %}enable-t{% else %}disable-t{% endif %}"
            >
              {% if client.isActive %}Online{% else %}Offline{% endif %}
            </div>
          </td>
          <td>
            <div class="row button-wrapper">
              <a href="{% url 'detail-client' client.id %}" class="main-button"
                >view</a
              >
               <a href="{% url 'edit-client' client.id %}" class="warning-button"
                >edit</a
              >
              <button
                onclick="deleteData('{{ client.id }}', 'client', 'client')"
                class="danger-button"
              >
                delete</i>
              </button>              
            </div>
          </td >
          {% if user.is_authenticated %}<td>
            <button
              onclick="cekModifyClientData('{{ client.id }}','{{client.temp_name}}','{{client.temp_address}}','{{client.temp_phone}}', '{{client.temp_paket.id_ip_pool.id_server.name}}', '{{ client.temp_paket.name }} - {{ client.temp_paket.price|rupiah }} - {{ client.temp_paket.limit }}', '{{client.temp_pppoe}}')"
              class="icon-button {% if client.isApproved %}disbale-button{% else %}main-button {% endif %}"
              {% if client.isApproved %}disbale{% else %}{% endif %}
            >
              <i class="fa-solid fa-check"></i>
            </button>
          </td>{% else %}{% endif %}
          
          

        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="center">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="pagination row">
      {% if clients.has_previous %}
      <a
        href="?page=1{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >First</a
      >
      <a
        href="?page={{ clients.previous_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-left"></i
      ></a>
      {% endif %}

      <span class="current-page"
        >Page {{ clients.number }} of {{ clients.paginator.num_pages }}</span
      >

      {% if clients.has_next %}
      <a
        href="?page={{ clients.next_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-right"></i
      ></a>
      <a
        href="?page={{ clients.paginator.num_pages }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >Last</a
      >
      {% endif %}
    </div>
  </div>
</div>








{% endblock %}
