{% extends 'dashboard/base.html' %} {% block content %} {% load custom_filters%}

<div class="content-page server">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-coins"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Paket List</span>
      </div>
      <a href="{% url 'add-paket' %}" class="success-button">Add Paket +</a>
      <form method="GET" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          name="search"
          value="{{ query }}"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>

    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama Paket</th>
          <th>Price</th>
          <th>Speed</th>
          <th>Ip Range</th>
          <th class="center-th">Action</th>
        </tr>
        {% for paket in pakets %}
        <tr class="t-d">
          <td>{{ paket.id }}</td>
          <td>{{ paket.name }}</td>
          <td>{{ paket.price|rupiah }}</td>
          <td>{{ paket.limit }}</td>
          <td>{{ paket.ip_pool.ip_range }}</td>
          <td>
            <div class="row button-wrapper">
              <a href="{% url 'edit-paket' paket.id %}" class="warning-button"
                >Edit</a
              >
              <button
                onclick="openDeleteModal('{{ paket.id }}')"
                class="danger-button"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="center">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="pagination row">
      {% if pakets.has_previous %}
      <a
        href="?page=1{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >First</a
      >
      <a
        href="?page={{ pakets.previous_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-left"></i
      ></a>
      {% endif %}

      <span class="current-page"
        >Page {{ pakets.number }} of {{ pakets.paginator.num_pages }}</span
      >

      {% if pakets.has_next %}
      <a
        href="?page={{ pakets.next_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-right"></i
      ></a>
      <a
        href="?page={{ pakets.paginator.num_pages }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >Last</a
      >
      {% endif %}
    </div>

    <br/>

    <div class="header-table row">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-clipboard-list"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">IP Pool</span>
      </div>
      <a href="{% url 'add-ip' %}" class="success-button">Add IP Pool +</a>
    </div>

    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama IP Pool</th>
          <th>IP Range</th>
          <th class="center-th">Action</th>
        </tr>
        {% for ip in ip_pools %}
        <tr class="t-d">
          <td>{{ ip.id }}</td>
          <td>{{ ip.name }}</td>
          <td>{{ ip.ip_range}}</td>
          <td>
            <div class="row button-wrapper">
              <a href="{% url 'edit-ip' ip.id %}" class="warning-button"
                >Edit</a
              >
              <button
                onclick="openDeleteModalIP('{{ ip.id }}')"
                class="danger-button"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="center">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div id="deleteModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" style="color: white" onclick="closeModalDelete()"
      >&times;</span
    >
    <h3>Konfirmasi Hapus</h3>
    <p>Apakah Anda yakin ingin menghapus Paket ini?</p>
    <form id="deleteForm" method="POST">
      {% csrf_token %}
      <button type="submit" class="danger-button">Ya, Hapus</button>
      <button type="button" onclick="closeModalDelete()" class="warning-button">
        Batal
      </button>
    </form>
  </div>
</div>


<div id="deleteModalIP" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" style="color: white" onclick="closeModalDelete()"
      >&times;</span
    >
    <h3>Konfirmasi Hapus</h3>
    <p>Apakah Anda yakin ingin menghapus IP Pool ini?</p>
    <form id="deleteFormIP" method="POST">
      {% csrf_token %}
      <button type="submit" class="danger-button">Ya, Hapus</button>
      <button type="button" onclick="closeModalDeleteIP()" class="warning-button">
        Batal
      </button>
    </form>
  </div>
</div>

<script>

  function openDeleteModalIP(ipID) {
    const modal = document.getElementById("deleteModalIP");
    const form = document.getElementById("deleteFormIP");
    form.action = `/ip-list/${ipID}/delete/`; // sesuaikan dengan URL kamu
    modal.style.display = "block";
  }

  function closeModalDeleteIP() {
    document.getElementById("deleteModalIP").style.display = "none";
  }


  function openDeleteModal(paketID) {
    const modal = document.getElementById("deleteModal");
    const form = document.getElementById("deleteForm");
    form.action = `/paket-list/${paketID}/delete/`; // sesuaikan dengan URL kamu
    modal.style.display = "block";
  }

  function closeModalDelete() {
    document.getElementById("deleteModal").style.display = "none";
  }

  // Menutup modal jika diklik di luar area modal
  window.onclick = function (event) {
    const modal = document.getElementById("deleteModal");
    if (event.target === modal) {
      closeModal();
    }
  };
</script>

{% endblock %}
