{% extends 'index.html' %} {% block content %} {% load static %}

<div class="content-page server">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-server"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Server List</span>
      </div>
    <div class="row wrap gap-10">  <a href="{% url 'add-server' %}" class="success-button">Add Device +</a>
      <button class="main-button" onclick="addServerWithConfig()">Add Device + Config</button></div>
      <form method="GET" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          name="search"
          value="{{ query }}"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>

    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama Perangkat</th>
          <th>Host IP</th>
          <th>Username</th>
          <th>Server GenieACS</th>

          <th class="center-th">Action</th>
        </tr>

        {% for server in servers %}
        <tr class="t-d">
          <td>{{ server.id }}</td>
          <td>{{ server.name }}</td>
          <td>{{ server.host }}</td>
          <td>{{ server.username }}</td>
          <td>{{ server.genieacs|default:"-" }}</td>

          <td>
            <div class="row button-wrapper">
              <a href="{% url 'detail-server' server.id %}" class="main-button"
                >View</a
              >

              <button
                onclick="test_connection('{{ server.host }}', '{{ server.username }}', '{{ server.password }}')"
                class="success-button"
              >
                Test Connection
              </button>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="center">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="pagination row">
      {% if servers.has_previous %}
      <a
        href="?page=1{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >First</a
      >
      <a
        href="?page={{ servers.previous_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-left"></i
      ></a>
      {% endif %}

      <span class="current-page"
        >Page {{ servers.number }} of {{ servers.paginator.num_pages }}</span
      >

      {% if servers.has_next %}
      <a
        href="?page={{ servers.next_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-right"></i
      ></a>
      <a
        href="?page={{ servers.paginator.num_pages }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >Last</a
      >
      {% endif %}
    </div>
  </div>
</div>





{% endblock %}
