{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-page server">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-server"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Server List</span>
      </div>
      <a href="{% url 'add-server' %}" class="success-button"
      >Add Device +</a>
      <form action="" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          id="gsearch"
          name="search"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>
    
    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama Perangkat</th>
          <th>Host IP</th>
          <th>Username</th>
          <th>Password</th>
          <th>Server GenieACS</th>
          <th class="center-th">Action</th>
        </tr>
        <tr class="t-d">
          <td>1</td>
          <td>Mikrotik 1</td>
          <td>192.168.0.1</td>
          <td>admin</td>
          <td>admin</td>
          <td>10.12.0.1</td>
          <td>
            <div class="row button-wrapper">
              <a href="#" class="main-button">View</a>
              <a href="#" class="warning-button">Edit</a>
              <a href="#" class="danger-button">Delete</a>
            </div>
          </td>
        </tr>
        <tr class="t-d">
          <td>2</td>
          <td>Mikrotik 2</td>
          <td>192.168.0.2</td>
          <td>admin</td>
          <td>admin</td>
          <td>10.12.0.2</td>
          <td>
            <div class="row button-wrapper">
              <a href="#" class="main-button">View</a>
              <a href="#" class="warning-button">Edit</a>
              <a href="#" class="danger-button">Delete</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
