{% extends 'dashboard/base.html' %} {% block content %} {% load custom_filters%}

<div class="content-page client">
  <div class="table-wrapper column">
    <div class="header-table column">
      <div class="row title-head-td">
        <i
          class="fa-solid fa-check-to-slot"
          style="--clr: var(--clr-fourth); --icon-clr: var(--clr-second)"
        ></i>
        <span class="title">Client List</span>
      </div>
      <a href="{% url 'client' %}" class="main-button">View All Client</a>
      <form method="GET" class="form-search row">
        <input
          class="search-box"
          type="search"
          placeholder="Search"
          name="s"
          value="{{ query }}"
        />
        <input class="search-button" type="submit" />
      </form>
    </div>

    <div class="table-container">
      <table class="table">
        <tr class="t-head">
          <th>#</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>No HP</th>
          <th>Paket</th>

          <th class="center-th">Action</th>
        </tr>

        {% for client in clients %}

        <tr class="t-d">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.phone }}</td>
          <td>
            {{ client.id_paket.name }} - {{ client.id_paket.price|rupiah }}
          </td>

          <td>
            <div class="row button-wrapper">
              <a href="{% url 'detail-client' client.id %}" class="main-button"
                >view</a
              >
              <button
                onclick="toggleActivasiClient('{{ client.id }}', '{{ client.name }}', `{{ client.isActive|yesno:'true,false' }}`,'activation')"
                class="success-button"
              >
                Activasi
              </button>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="center">Tidak ada data yang ditemukan</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="pagination row">
      {% if clients.has_previous %}
      <a
        href="?page=1{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >First</a
      >
      <a
        href="?page={{ clients.previous_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-left"></i
      ></a>
      {% endif %}

      <span class="current-page"
        >Page {{ clients.number }} of {{ clients.paginator.num_pages }}</span
      >

      {% if clients.has_next %}
      <a
        href="?page={{ clients.next_page_number }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        ><i class="fa-solid fa-angle-right"></i
      ></a>
      <a
        href="?page={{ clients.paginator.num_pages }}{% if query %}&search={{ query }}{% endif %}"
        class="page-button"
        >Last</a
      >
      {% endif %}
    </div>
  </div>
</div>



{% endblock %}
