{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-</title>
    <link href="{% static 'css/leaflet.css' %}" rel="stylesheet" />
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dataTables.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/logo-circle.png' %}"
    />

    <!-- <script src="{% static 'js/library/jquery-3.7.1.min.js' %}"></script> -->
    <script src="{% static 'js/service/script.js' %}"></script>
    <script src="{% static 'js/library/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/library/dataTables.min.js' %}"></script>
    <script src="{% static 'js/library/leaflet.js' %}"></script>
    <script src="{% static 'js/library/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/library/select2.full.min.js' %}"></script>

    <!-- myscript -->
    <script src="{% static 'js/scripts/app.js' %}"></script>
    <script src="{% static 'js/scripts/loader.js' %}"></script>
    <script src="{% static 'js/scripts/apply-theme.js' %}"></script>

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="loader-wrapper">
      <span class="loader"></span>
      <p>Sabar ngab...</p>
    </div>
    <div class="base-wrapper row">
      <div class="sidebar-box menu-collapse"></div>
      <div class="sidebar column">
        <div class="logo row menu-collapse">
          <div class="img-wrapper menu-text">
            <img src="{% static 'assets/logo.png' %}" alt="" />
          </div>
          <button id="toggle-menu">
            <i class="fa-solid fa-angle-left menu-collapse"></i>
          </button>
        </div>
        <div class="menu column">
          <a
            href="{% url 'dashboard' %}"
            class="menu-link"
            data-url="{% url 'dashboard' %}"
          >
            <div class="row menu-collapse">
              <i class="fa-solid fa-gauge"></i>
              <span class="menu-text">Dashboard</span>
            </div>
          </a>
{% if perms.app.view_server %}
          <a
            href="{% url 'server' %}"
            class="menu-link"
            data-url="{% url 'server' %}"
          >
            <div class="row menu-collapse">
              <i class="fa-solid fa-server"></i>
              <span class="menu-text">Server</span>
            </div>
          </a>
{% endif %}
{% if perms.app.view_paket or perms.app.can_change_price %}
          <a
            href="{% url 'paket' %}"
            class="menu-link"
            data-url="{% url 'paket' %}"
          >
            <div class="row menu-collapse">
              <i class="fa-solid fa-coins"></i>
              <span class="menu-text">Paket</span>
            </div>
          </a>
{% endif %}
{% if perms.app.view_client %}
          <a
            href="{% url 'client' %}"
            class="menu-link"
            data-url="{% url 'client' %}"
          >
            <div class="row menu-collapse">
              <i class="fa-solid fa-user-group"></i>
              <span class="menu-text">Client</span>
            </div>
          </a>
          <a
            href="{% url 'activasi' %}"
            class="menu-link"
            data-url="{% url 'activasi' %}"
          >
            <div class="row menu-collapse">
              <i class="fa-solid fa-check-to-slot"></i>
              <span class="menu-text">Activasi</span>
            </div>
          </a>
{% endif %}
          <a
            href="{% url 'map' %}"
            class="menu-link"
            data-url="{% url 'map' %}"
          >
            <div class="row menu-collapse">
              <i class="fa-solid fa-map-marked-alt"></i>
              <span class="menu-text">Maps</span>
            </div>
          </a>
        </div>
      </div>

      <div class="content">
        <div class="header row">
          <div class="text-wrapper">
            {% if user.is_authenticated %}
            <div class="row gap-20">
              <div class="column">
                <div class="main-text">Halo {{user.username}}!</div>
                <div class="text-grey">{% now "d F Y" %}</div>
              </div>
              <a
                class="main-button"
                href="{% url 'logout' %}?next={{ request.path }}"
                >Logout</a
              >
            </div>
            {% else %}
            <div class="column gap-10 align-end">
              <a class="main-button" href="{% url 'login' %}">Login</a>
              <div class="text-grey">{% now "d F Y" %}</div>
            </div>
            {% endif %}
          </div>
        </div>
        {% block content %} {% endblock %}
      </div>
    </div>

    
  </body>
</html>
